@font-face {
  font-family: 'Bubbly';
  src: url(/BACKEND/fontes/Bubbly-Regular.otf) format('opentype');
}

nav {
  font-family: 'Bubbly';
  font-size: 20px;
  background-color: #f3e9f1;
}

h3 {
  font-family: 'Bubbly';
  font-size: 40px;
  color: #ff4444;
}

h4 {
  font-family: 'Bubbly';
  font-size: 50px;
  text-align: center;
}

header {
  margin-bottom: 50px;
}

footer {
  margin-top: 50px;
}

/* Category Ads */

#ads {
  margin: 30px 0 30px 0;
}

.card {
  border-radius: 20px;
}

#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background: #ba2fbe;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
}

#ads .card-notify-year {
  position: absolute;
  right: -10px;
  top: -20px;
  background: #ff4444;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  width: 50px;
  height: 50px;
  padding: 15px 0 0 0;
}

#ads .card-detail-badge {
  text-align: center;
  color: #ff4444;
  padding: 10px;
  font-size: 17px;
}

#ads .card:hover {
  background: #fff;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 20px;
  transition: all 0.3s ease;
}

#ads .card-image-overlay {
  font-size: 20px;
}

#ads .card-image-overlay span {
  display: inline-block;
}

#ads .ad-btn {
  width: 150px;
  height: 40px;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: 3px solid #e6de08;
  display: block;
  text-decoration: none;
  margin: 20px auto 1px auto;
  color: white;
  overflow: hidden;
  position: relative;
  background-color: #e6de08;
}

#ads .ad-btn:hover {
  background-color: #e6de08;
  color: #1e1717;
  border: 2px solid #e6de08;
  background: transparent;
  transition: all 0.3s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

#ads .ad-title h5 {
  text-transform: uppercase;
  font-family: 'Bubbly';
  font-size: 30px;
}

/* page produits */

.img-fluid {
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}
h5 {
  font-family: 'Bubbly';
  font-size: 50px;
  color: #ff4444;
}

.details.col-md-6 {
  margin-top: 20px;
}

.custom-select {
  margin-top: 15px;
}
#description {
  color: #ff4444;
  font-weight: 600;
}

.ad-btn {
  margin-top: 20px;
}

footer {
  background-color: #f3e9f1;
  
}
.validation{
  display: flex;
  justify-content: center;
  text-align: center;
 
}
.teddie-commande{
  height:100px;
  margin-bottom: 40px;
}

.message{
  font-size: larger;
  font-weight: 600;
  margin-bottom: 40px;
}